/*body {background-color:#69c8f7;}*/

timedate, #mon, #d, #y, #m, #h, #s, #mi {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 22px;
  text-align:center;
  width: 70%;
  margin: 50px auto;
  color:#0c5c7e;
 /*border: 5px solid #FDD9B5;
  padding: 5px;*/
/*background-color:#69c8f7;*/
}
